<div class="title-container">
    <h3>Bem-vindo ao Lexus My Account</h3>
    <h4>Sua central de aplicativos, ferramentas e serviços Lexos</h4>
</div>

<div class="main">
    <div class="header">
        <h4 class="subtitle">Aplicativos</h4>
    </div>
    <div class="container">
        <div class="inner">
            <div class="left">
                <img src="./../../assets/logo/logo.svg" class="logo">
                <img src="./../../assets/images/Dashboard.svg" class="logo">
            </div>
            <div class="right">
                <div class="flex-center col">
                    <p>
                        <span>✓</span>
                        Anuncie em múltiplos marketplaces
                    </p>
                    <p>
                        <span>✓</span>
                        Aumente suas vendas no e-commerce
                    </p>
                    <p>
                        <span>✓</span>
                        Reduza até 5 vezes o tempo de expedição
                    </p>
                    <p>
                        <span>✓</span>
                        Emita NF-e automaticamente
                    </p>
                    <p>
                        <span>✓</span>
                        Cresça sua reputação como vendedor
                    </p>
                </div>
                <div class="flex-center">
                    <button mat-button class="access-btn">
                        Acessar o Lexos Hub
                    </button>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>
                Você ainda tem 30 dias grátis para usar o Lexos Hub 
            </p>
            <span class="spacer"></span>
            <span>Conheça os planos</span>
        </div>
    </div>

    <div class="container" style="margin-top: 20px;">
        <div class="inner">
            <div class="left">
                <img src="./../../assets/logo/logo-2.svg" class="logo">
            </div>
            <div class="title">
                <p>
                    Ainda não possui ERP? Conheça nosso software com mais de 2000 usuários ativos
                </p>
                <span>
                    Conheça o Lexos ERP
                </span>
            </div>
        </div>
    </div>

    <div class="header" style="margin-top: 20px;">
        <h4 class="subtitle">Quer saber mais? Confira nossos artigos</h4>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="banner">
                <img src="./../../assets/images/image 53.svg" class="image">
                <div class="overlay"></div>
            </div>
            <div class="text-container">
                <p>
                    Como montar uma Lanchonete: Equipamentos, Modelos e Decoração
                </p>
            </div>
        </div>
        <span class="spacer"></span>
        <div class="card">
            <div class="banner">
                <img src="./../../assets/images/image 52.svg" class="image">
                <div class="overlay"></div>
            </div>
            <div class="text-container">
                <p>
                    Tipos de Notas Fiscais: Entenda a diferença entre NFe, NFCe, NFSe
                </p>
            </div>
        </div>
    </div>
</div>

